.type {
    margin-top: 32px;
    width: 15%;
    height: 5%;
    border-radius: 0.75rem;
    /* border: 0.0625rem solid #cacaca; */
    border: 0rem solid;
    /* padding: 0.2rem; */
    margin-bottom: 2rem;
    background-color: #f1c0e8;
    /* display: flex; */
}

.typefont {
    text-align: center;
    padding: 0.1rem;
    font-size: 16px;
    color: #f1faee;
}

.wrapper {
    padding: 20px;
    text-align: center;
    width: 600px;
    margin: 100px 100px;
}
.line {
    border-top: 2px solid #cdb4db;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.dot {
    position: relative;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #cdb4db;
    text-transform: uppercase;
    font-size: 15px;
}

.dot:first-child {
    margin-left: -85px;
}

.dot:last-child {
    margin-right: -85px;
}

.dot::after {
    content: "";
    width: 11px;
    height: 11px;
    background: #ffc8dd;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid #ffc8dd;
}

.active::after,
.dot:hover::after {
    background: #fbf8cc;
}

.skill {
    display: none;
    margin: 50px;
    padding: 10px;
    width:210px; 
    height:50px;
    background:pink; 
    border-radius: 10px;
    text-align: center;
    color: #fbf8cc;
}

.skill:after { 
    border-top:0px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid pink; 
    content:""; 
    position: absolute;
    top: 350px;
    left: 529px;
}


/* .first:not(:hover) + .skill {
    display: none;
} */


.first:hover .skill {
    display: block;
}


