.type {
    margin-top: 32px;
    width: 15%;
    height: 6%;
    border-radius: 0.75rem;
    /* border: 0.0625rem solid #cacaca; */
    border: 0rem solid;
    /* padding: 0.2rem; */
    margin-bottom: 1.1rem;
    background-color: #f1c0e8;
    /* display: flex; */
}

 .be {
    background-color: #bde0fe;
}

.typefont {
    text-align: center;
    padding: 0.2rem;
    font-size: 16px;
    color: #f1faee;
    height: 37px;
}

.wrapper {
    padding: 20px;
    text-align: center;
    width: 740px;
    margin: 100px 100px;
}

.backend {
    padding: 20px;
    text-align: center;
    width: 305px;
    margin: 100px 100px;
}


.line {
    border-top: 2px solid #cdb4db;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}


.backend .line {
    border-top: 2px solid #bde0fe;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}


.dot {
    position: relative;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #cdb4db;
    text-transform: uppercase;
    font-size: 15px;
}

.dot:first-child {
    margin-left: -120px;
}

.dot:last-child {
    margin-right: -120px;
}

.backend .dot:first-child {
    margin-left: -140px;
}

.backend .dot:last-child {
    margin-right: -140px;
}

.dot::after {
    content: "";
    width: 11px;
    height: 11px;
    background: #ffc8dd;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid #ffc8dd;
}

.backend .dot {
    position: relative;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #bde0fe;
    text-transform: uppercase;
    font-size: 15px;
}

.backend .dot::after {
    content: "";
    width: 11px;
    height: 11px;
    background: #bde0fe;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid #bde0fe;
}


.active::after,
.dot:hover::after {
    background: #fbf8cc;
}

.skill {
    display: none;
    /* margin: 0px; */
    margin-top: 20px;
    padding: 7px;
    width:230px; 
    height:40px;
    background:pink; 
    border-radius: 10px;
    text-align: center;
    color: #fbf8cc;
}

.skill:after { 
    border-top:0px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid pink; 
    content:""; 
    position: absolute;
    top: 35px;
    left: 100px;
}

.backend .skill {
    display: none;
    /* margin: 0px; */
    margin-top: 20px;
    padding: 8px;
    width:300px; 
    height:40px;
    background:#bde0fe; 
    border-radius: 10px;
    text-align: center;
    color: #fbf8cc;
}

.backend .skill:after { 
    border-top:0px solid transparent; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #bde0fe; 
    content:""; 
    position: absolute;
    top: 35px;
    left: 130px;
}


/* .first:not(:hover) + .skill {
    display: none;
} */


.first:hover .skill,
.second:hover .skill,
.third:hover .skill
 {
    display: block;
}


 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bde0fe;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f1faee;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}


input:checked + .slider {
    background-color: #f1c0e8;
  }
  
input:focus + .slider {
box-shadow: 0 0 1px #bde0fe;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .skillwrapper {
      display: flex;
  }

  .typeWrapper {
      /* display: inline-block; */
  }