/* .background {
     overflow: hidden; 
     background:#90dbf4; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; 
} */

.mountain, .secondMountain, .thirdMountain {
    position: absolute;
    bottom: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 130px solid #ffcfd2;
    z-index: 1;
}

.secondMountain {
    left: 70px;
    bottom: 0px;
    opacity: .3;
    z-index: 0;
}

.thirdMountain {
    left: -2px;
    bottom: 0px;
    opacity: .5;
    z-index: 0;
}

.top {
    position: absolute;
    right: -48px;
    border-left:47px solid transparent;
    border-right:48px solid transparent;
    border-bottom: 60px solid #fde4cf;
    z-index: 2;
}

.one, .two, .three {
    position: absolute;
    top: 60px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 12px solid #fde4cf;
}

.one { left: -50px;}
.two { left: -20px; }
.three { left: 4px;}

.cloud, .cloud:before, .cloud:after{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #fff;
    border-radius: 100px / 50px;
}

.cloud {
    bottom: 100px;
    -webkit-animation: cloud 40s infinite linear;
            animation: cloud 40s infinite linear;
}

@-webkit-keyframes cloud {
    0% { left: 0px; }
    100% { left: 1000px; }
}

@keyframes cloud {
    0% { left: 0px; }
    100% { left: 1000px; }
}

.cloud:before {
    content: '';
    left: 50px;
}

.cloud:after {
    content: '';
    left: 25px;
    top: -10px;
}

.secondCloud, .secondCloud:before, .secondCloud:after{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #fff;
    border-radius: 100px / 50px;
}

.secondCloud {
    bottom: 140px;
    -webkit-animation: secondCloud 50s infinite linear;
            animation: secondCloud 50s infinite linear;
}

@-webkit-keyframes secondCloud {
    0% { left: -20px; }
    100% { left: 1000px; }
}

@keyframes secondCloud {
    0% { left: -20px; }
    100% { left: 1000px; }
}

.secondCloud:before {
    content: '';
    left: 50px;
}

.secondCloud:after {
    content: '';
    left: 25px;
    top: -10px;
}


.thirdCloud, .thirdCloud:before, .thirdCloud:after{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #fff;
    border-radius: 100px / 50px;
}

.thirdCloud {
    bottom: 210px;
    -webkit-animation: thirdCloud 120s infinite linear;
            animation: thirdCloud 120s infinite linear;
}

@-webkit-keyframes thirdCloud {
    0% { left: -10px; }
    100% { left: 1000px; }
}

@keyframes thirdCloud {
    0% { left: -10px; }
    100% { left: 1000px; }
}

.thirdCloud:before {
    content: '';
    left: 50px;
}

.thirdCloud:after {
    content: '';
    left: 25px;
    top: -10px;
}