.container {
    width: 1700px;
    height: 1100px;
    background-color:#fde4cf;
    border-radius: 2%;
    position: relative;
}

.border {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 91%;
    height: 86%;
    background-color:white;
    border-radius: 2%;
}

.home {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 98%;
    height: 85%;
    background-color:white;
    border-radius: 2%;
    border: 2px solid #fde4cf;
    display: flex;
    justify-content: center;
    align-items: center;
}